# Compiled files
*.o
*.obj

# Executables
merxq
merxq.exe
a.out

# Build directory
build/
bin/
obj/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# Debugging
*.dSYM/
*.su
*.idb
*.pdb

# Backup files
*.bak
*.backup
